<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<h1>Nuevo trabajo</h1>
<form method="post" th:action="@{/buscar}">
    <img src="logoPucp.png" alt="imgpucp">
    <input type="text" placeholder="Encuentra tus vuelos preferidos" name="search" size="50">
    <input type="submit" value="Explorar" />
    <input type="submit" value="Mis vuelos" />
    |
    <input type="submit" value="Inicia Sesión" />
    <br>
    <input type="submit" value="Vuelos" />
    <input type="submit" value="Paquetes" />
    <input type="submit" value="Hoteles" />
    <input type="submit" value="Autos" />
    <input type="submit" value="Seguros" />
    <input type="submit" value="Upgrade" />
    <input type="submit" value="Centro de ayuda" style="font-weight:bold;"/>

</form>
</body>
</html>